*{
  margin: 0;padding: 0; box-sizing: border-box;
}
body {
  background:#f5f5f5;
  font-family: 'poppins';
  padding: 1em;
}


.counter {
  display: flex;
  max-width: 414px;
  height: 600px;
  background: rgba(255, 255, 255, 0.678);
  display: flex;
  flex-direction: column;
  margin: 20px auto;
}
.counter {
  background: rgb(29, 29, 29);
}
/*can */
.heading {
  background: rgb(255, 255, 255);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 60px;
  color: #222222ec;
  padding: 0 10px;
  
}
.heading button {
  padding: 7px 10px;
  border-radius: 3px;
  border: none;
  background: #f5f5f5;
}
/* can */
.main-continer {
  background-color: #ffffff;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.number-display {
  width: 90%;
  height: 50px;
  background: white;
  color: #242424e7;
  border: 2px solid #f5f5f5;
  padding: 0 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  margin-top: 30px;
  font-size: 20px;
   box-shadow: 8px 8px 15px #afafaf, -8px -8px 15px #ffffff;
}
.buttons {
  position: absolute;
  bottom: 170px; /* ya tsaya kasa */
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 40px;
}
.buttons button {
  padding: 2em;
  border-radius: 50%;
  background: #faf0e6;
  border: none;
  box-shadow: 8px 8px 15px #afafaf, -8px -8px 15px #ffffff;
}

.buttons button:active {
  background: #fae8d7;
  transition: 0.4s ease;
}
.add-btn {
  position: absolute;
  bottom: 90px; /* ya tashi sama da sauran */
}
.mainContainer {
  background-color: #f5f5f577;
}
 
.body-class-list {
   background-color: #161616;
}
